button.ButtonPrimary,
button.ButtonPrimaryLg {
  background-color: var(--emi-primary-color);
  border-radius: var(--emi-input-border-radius);
  cursor: pointer;
  color: var(--emi-primary-color-button-text);

  &:focus {
    background-color: var(--emi-primary-color-focus);
  }

  &:hover {
    background-color: var(--emi-primary-color-hover);
  }

  &:disabled {
    background-color: var(--emi-primary-color-disabled);
    opacity: 40%;
    cursor: not-allowed;
  }
}

button.Md {
  width: 25%;
}

button.Lg {
  width: 75%;
}

button.Full {
  width: 100%;
}

button.ButtonSecondary,
button.ButtonSecondaryLg {
  background-color: var(--emi-secondary-color);
  color: var(--emi-secondary-color-text);
  border: 1px solid var(--emi-secondary-border-color);
  /*box-shadow: var(--emi-light-shadow);*/
  border-radius: 4px;
  cursor: pointer;
  height: 32px;

  &:focus {
    background-color: var(--emi-secondary-color-focus);
  }

  &:hover {
    background-color: var(--emi-secondary-color-hover);
  }

  &:disabled {
    background-color: var(--emi-secondary-color);
    opacity: 50%;
    cursor: not-allowed;
  }
}

.ButtonSecondaryLg {
  width: 100%;
}

button.ButtonDanger,
button.ButtonDangerLg {
  background-color: var(--emi-color-danger);
  color: white;
  border: 1px solid var(--emi-color-danger);
  border-radius: 4px;
  cursor: pointer;
  height: 32px;

  &:focus {
    background-color: var(--emi-color-danger-hover);
  }

  &:hover {
    background-color: var(--emi-color-danger-hover);
  }

  &:disabled {
    background-color: var(--emi-color-danger);
    opacity: 0.5;
    cursor: not-allowed;
  }
}

button.ButtonWarning,
button.ButtonWarningLg {
  background-color: var(--emi-color-warning);
  color: var(--emi-color-text-warning);
  border: 1px solid var(--emi-color-warning);
  border-radius: 4px;
  cursor: pointer;
  height: 32px;

  &:focus {
    background-color: var(--emi-secondary-color-focus);
  }

  &:hover {
    background-color: var(--emi-secondary-color-hover);
  }

  &:disabled {
    background-color: var(--emi-secondary-color);
    opacity: 50%;
    cursor: not-allowed;
  }
}

button.ButtonGray {
  background-color: var(--emi-color-gray);
  color: #1c2024;
  border: 1px solid #e8e8ec;
  border-radius: 4px;
  cursor: pointer;
  height: 32px;

  &:focus {
    background-color: #eeeeee;
  }

  &:hover {
    background-color: #eeeeee;
  }

  &:disabled {
    background-color: var(--emi-secondary-color);
    opacity: 50%;
    cursor: not-allowed;
  }
}

.ButtonSecondaryLg {
  width: 100%;
}

button.ButtonLink {
  background: none;
  border: none;
  padding: 0;
  color: var(--emi-primary-color);
  cursor: pointer;
  font-size: inherit;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:disabled {
    opacity: 50%;
    cursor: not-allowed;
    text-decoration: none;
  }
}

.TooltipButton {
  background-color: transparent;
  border: none;
  width: 14px;
  height: 14px;
  cursor: pointer;
}

.TooltipIcon {
  height: 14px;
  width: 14px;

  > path {
    fill: #024c8c;
  }
}

.IconButton {
  all: unset;
  font-family: var(--emi-font-family);
  border-radius: 100%;
  cursor: pointer;
  height: 25px;
  width: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 10px;
  right: 10px;

  &:hover {
    background-color: var(--emi-secondary-color-hover);
  }

  &:focus {
    box-shadow: 0 0 0 2px var(--emi-secondary-color-focus);
  }
}

.RefreshButton {
  display: flex;
  gap: 8px;
  background-color: transparent;
  border-radius: 4px;
  cursor: pointer;
  color: var(--emi-primary-color);
}
